{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
</head>
<body>
    <div class="container">
        <h1 class="title">Verificar Temperatura</h1>

        <form method="post" class="weather-form">
            {% csrf_token %}
            <input type="text" name="location" placeholder="Insira uma cidade..." required />
            <button type="submit">Check</button>
        </form>

        {% if location %}
        <div class="weather-result">
            <h2>🌍 {{ location }} ({{ country_code }})</h2>
            <p>🌡️ Temperatura: {{ temp }}°C</p>
            <p>🔽 Pressão: {{ pressure }} hPa</p>
            <p>💧 Humidade: {{ humidity }}%</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
