<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CRIADO COM POUCO</h1>

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="location">

        <button type="submit">Check Weather</button>
    </form>

    {% if location %}
        <h1>Location: {{ location }}</h1>
        <h1>Country: {{ country_code }}</h1>
        <h1>Temperature: {{ temp }}</h1>
        <h1>Pressure: {{ pressure }}</h1>
        <h1>Humity: {{ humidity }}</h1>

    {% endif %}
</body>
</html>